.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 80px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#A45A8D;
}

/* Hamburger */

.menu-icon{
    cursor:pointer;
    color:#A45A8D;
    transition:.3s;
}

.menu-icon:hover{
    color:#C77B9D;
    transform:scale(1.1);
}

/* Dropdown */

.dropdown-menu{
    position:absolute;
    top:75px;
    right:40px;
    width:240px;
    background:white;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    display:flex;
    flex-direction:column;
    overflow:hidden;
    z-index:2000;
    animation:fade .3s ease;
}

.dropdown-menu a{
    text-decoration:none;
    color:#555;
    padding:16px 20px;
    font-size:16px;
    transition:.3s;
}

.dropdown-menu a:hover{
    background:#F1D3E0;
    color:#A45A8D;
}

.logout-btn{
    background:#A45A8D;
    color:white;
    border:none;
    padding:15px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.logout-btn:hover{
    background:#C77B9D;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}